<div class="profil">
    <div class="registerContent container ">
        <h1>Mon Profil</h1>
        <div class="blcImage"> <img class="card-img-top" src="../../../../assets/img/avatar.jpg" alt="Card image cap">
        </div>
        <form class="form">
            <div class="form-row">
                <div class="inp">
                    <input type="text" class="form-control inputblc is-valid" id="validationServer01" placeholder="Nom"
                        required>
                </div>
                <div class="inp">
                    <input type="text" class="form-control is-valid inputblc" id="validationServer02"
                        placeholder="prénom" required>
                </div>
                <div class="inp">
                    <div>
                        <input type="text" class="form-control inputblc is-invalid" id="validationServerEmail"
                            placeholder="Email" aria-describedby="inputGroupPrepend3" required>
                        <!--       <div class="invalid-feedback"> Please choose a username. </div> -->
                    </div>
                </div>
                <div class="inp">
                    <input type="text" class="form-control inputblc is-invalid" id="validationServer03"
                        placeholder="Username" required>
                </div>
                <div class="inp">
                    <input type="text" class="form-control inputblc is-invalid" id="validationServer04"
                        placeholder="password" required>
                </div>
                <div class="inp">
                    <input type="text" class="form-control inputblc  is-invalid" id="validationServer05"
                        placeholder="adresse" required>
                    <div class="invalid-feedback"> Please provide a valid zip. </div>
                </div>
                <div class="inp">
                    <input type="text" class="form-control inputblc  is-invalid" id="validationServer06"
                        placeholder="code postal" required>
                    <div class="invalid-feedback"> Please provide a valid zip. </div>
                </div>
                <div class="inp">
                    <input type="text" class="form-control inputblc  is-invalid" id="validationServer07"
                        placeholder="pays" required>
                    <div class="invalid-feedback"> Please provide a valid zip. </div>
                </div>
            </div>
            <button class="btn " type="submit">S'inscrire</button>
        </form>
    </div>
</div>