<div class="infos-clients-area">

    <ul class="infos-clients row">
        <li class="col">
            <img src="../../../../assets/img/icon-products_50.png" alt="Une sélection de produits Agropro" />
            <h4>Des produits
                <br />sélectionnés</h4>
        </li>
        <li class="col">
            <img src="../../../../assets/img/icon-producteurs_50.png" alt="Des producteurs de votre région" />
            <h4>Des producteurs
                <br />régionaux</h4>
        </li>
        <li class="col">
            <img src="../../../../assets/img/icon-world_50.png" alt="Livraison internationale chez Agropro" />
            <h4>Livraison
                <br />internationale</h4>
        </li>
        <li class="col">
            <img src="../../../../assets/img/icon-cadenas_50.png" alt="Paiements sécurisés" />
            <h4>Paiements
                <br />sécurisés</h4>
        </li>
        <li class="col">
            <img src="../../../../assets/img/icon-livraison_50.png" alt="Livraison en France en 24/48h" />
            <h4>Livraison France
                <br />en 24h/48h</h4>
        </li>
        <li class="col">
            <img src="../../../../assets/img/icon-service-client_50.png" alt="Service client Agropro" />
            <h4>Service client
                <br />+ (33) 04 81 65 30 28</h4>
        </li>
    </ul>

</div>
<!--.infos-clients-area-->