<div class="register">
    <section class="registerContent container ">
        <form class="form" [formGroup]="loginForm">
            <h1>SE CONNECTER</h1>
            <div class="form-row">
                <div>
                    <input type="text" class="form-control inputblc" id="validationServer01" placeholder="Username / Email" formControlName="username" required>
                </div>
                <div>
                    <input type="password" class="form-control inputblc " id="validationServer02" placeholder="Mot de passe" formControlName="password" required>
                </div>
            </div>
            <small class="text-danger" *ngIf="isSubmitted">{{message}}</small>
            <button [disabled]=" ! loginForm.valid" class="btn" (click)="login()" type="submit" [ngClass]="{'active': loginForm.valid , 'disable': !loginForm.valid}" type="submit">se
                connecter</button>
        </form>
        <div class="imageBlc">
            <img src="../../../../assets/img/pagelogo.svg">
        </div>
    </section>
</div>