<div class="register">
    <section class="registerContent container ">
        <form class="form">
            <h1>SE CONNECTER</h1>
            <div class="form-row">
                <div>
                    <input type="text" class="form-control inputblc is-valid" id="validationServer01"
                        placeholder="Username / Email" required>
                </div>
                <div>
                    <input type="password" class="form-control inputblc " id="validationServer02"
                        placeholder="Mot de passe" required>
                </div>
            </div>
            <button class="btn " type="submit">se connecter</button>
        </form>
        <div class="imageBlc">
            <img src="../../../../assets/img/pagelogo.svg">
        </div>
    </section>
</div>