<footer>
    <div class="container">
        <div class="footer-copyright clearfix">
            <a class="footer-logo float-left"></a>
            <p>Tous les droits sont reservés © 2021</p>
        </div>
        <div class="footer-blc-two">
            <img class="card-img" src="../../assets/img/facebook-logo.png" alt="Card image">
            <img class="card-img" src="../../assets/img/instagram.png" alt="Card image">
            <img class="card-img" src="../../assets/img/twitter.png" alt="Card image">
            <img class="card-img" src="../../assets/img/whatsapp-logo.png" alt="Card image">
        </div>
    </div>
</footer>