header {
    .header {
        box-shadow: 0 0 3px 2px rgb(152 151 151 / 20%);
        background-color: #fff;
        padding: 2px 0 15px;
        max-height: 200px;
        display: grid;
        grid-template-columns: 200px 1fr;
        .header-left-blc {
            .logo {
                width: 150px;
                height: auto;
                padding: 12px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .header-right-blc {
            display: block;
            text-align: center;
            margin: auto 0;
            .page-nav {
                .haumburger {
                    margin: 0;
                    font-size: 26px;
                    line-height: 55px;
                    display: none;
                    width: 26px;
                }
                #toggle {
                    display: none;
                }
                .page-nav-actions {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li {
                        color: black;
                        text-decoration: none;
                        cursor: pointer;
                        &.favoris {
                            background-image: url('../../../assets/img/love.png');
                            background-repeat: no-repeat;
                            background-position: 20% center;
                            background-size: 17px auto;
                        }
                        &.categories {
                            background-image: url('../../../assets/img/menu.png');
                            background-repeat: no-repeat;
                            background-position: 10% center;
                            background-size: 17px auto;
                        }
                        &.login {
                            background-image: url('../../../assets/img/user.png');
                            background-repeat: no-repeat;
                            background-position: 10% center;
                            background-size: 17px auto;
                        }
                        &.inscri {
                            background-image: url('../../../assets/img/verify.png');
                            background-repeat: no-repeat;
                            background-position: 10% center;
                            background-size: 17px auto;
                        }
                        &.profil {
                            background-image: url('../../../assets/img/profil.png');
                            background-repeat: no-repeat;
                            background-position: 20% center;
                            background-size: 17px auto;
                        }
                        &.logout {
                            background-image: url('../../../assets/img/logout.png');
                            background-repeat: no-repeat;
                            background-position: 10% center;
                            background-size: 17px auto;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    header {
        .header {
            .header-left-blc {
                .logo {
                    width: 122px;
                    height: 100px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        .header {
            .header-right-blc {
                .page-nav {
                    .haumburger {
                        display: block;
                        cursor: pointer;
                        float: right;
                        position: absolute;
                        right: 30px;
                        top: 30px;
                    }
                    #toggle:checked~.page-nav-actions {
                        display: block;
                        z-index: 10;
                        float: right;
                        position: absolute;
                        right: 50px;
                        top: 50px;
                        width: 300px;
                        height: 300px;
                        padding: 20px 0;
                        background-color: #dadadada;
                        border-radius: 10px;
                        li {
                            margin: 10px 0;
                            &.favoris {
                                background-position: 10% 10%;
                            }
                            &.categories {
                                background-position: 10% 10%;
                            }
                            &.login {
                                background-position: 10% 10%;
                            }
                            &.inscri {
                                background-position: 10% 10%;
                            }
                            &.profil {
                                background-position: 10% 10%;
                            }
                        }
                    }
                    .page-nav-actions {
                        display: none;
                    }
                }
            }
        }
    }
}