<header>
    <div class="header">
        <div class="header-left-blc">
            <div class="logo">
                <img routerLink="/" src="../../../assets/img/logo.jpg" alt="logo" />
            </div>
        </div>
        <div class="header-right-blc">
            <nav class="page-nav">
                <label class="haumburger" for="toggle">&#9776;</label>
                <input type="checkbox" id="toggle" />
                <ul class="page-nav-actions">
                    <li *ngIf="!loggedIn" class="inscri" routerLink="register">
                        <a> <span class="flaticon-users d-xs-none d-xl-block"></span>Inscription</a>
                    </li>
                    <li class="categories" routerLink="categories">
                        <a> <span class="flaticon-users d-xs-none d-xl-block"></span>Catégories</a>
                    </li>
                    <li *ngIf="loggedIn" class="favoris" routerLink="favoris">
                        <a> <span class="flaticon-like "></span>Favoris</a>
                    </li>
                    <li *ngIf="loggedIn" routerLink="profil" class="profil"><a>Profil</a></li>
                    <li *ngIf="!loggedIn" class="login" routerLink="login">
                        <a> <span class="flaticon-locked d-xs-none d-xl-block"></span>Se connecter</a>
                    </li>
                    <li *ngIf="loggedIn" class="logout" (click)="logout()">
                        <a> <span class="flaticon-locked d-xs-none d-xl-block"></span>Se déconnecter</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>