<div class="body-catgorie">
    <section class="registerContent container ">
        <h1 class="title">Des bons plans pour tous les goûts</h1>
        <div class="categorie">
            <div class="card  text-white" *ngFor="let produit of listProduit">
                <img class="card-img" (click)="goTo(produit.id)" src="{{config.apiUrl}}{{produit.image}}" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">{{produit.nom}}</h5>
                </div>
            </div>
        </div>
    </section>
</div>