.description {
    color: #5e72e4;
    text-decoration: none;
    background-color: transparent;
    width: 200px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.styl {
    display: block;
}