<div class=" header bg-danger pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-white d-inline-block mb-0">Tables</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
                            </li>

                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> Tables </a>
                            </li>

                            <li aria-current="page" class=" breadcrumb-item active">
                                Tables
                            </li>
                        </ol>
                    </nav>
                </div>

                <div class=" col-lg-6 col-5 text-right">
                    <a class=" btn btn-sm btn-neutral" href="javascript:void(0)"> New </a>

                    <a class=" btn btn-sm btn-neutral" href="javascript:void(0)">
              Filters
            </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" container-fluid mt--6">


    <div class=" card">
        <div class=" card-header border-0">
            <div class=" row">
                <div class=" col-6">
                    <h3 class=" mb-0">Checkbox + Toggles</h3>
                </div>

                <div class=" col-6 text-right">
                    <a class=" btn btn-sm btn-danger btn-round btn-icon" href="javascript:void(0)" tooltip="Edit product" placement="top">
                        <span class=" btn-inner--icon">
                <i class=" fas fa-trash"> </i>
              </span>

                        <span class=" btn-inner--text"> Delete </span>
                    </a>
                </div>
            </div>
        </div>

        <div class=" table-responsive">
            <table class=" table align-items-center table-flush table-hover">
                <thead class=" thead-light">
                    <tr>
                        <th>
                            <div class=" custom-control custom-checkbox">
                                <input class=" custom-control-input" id="table-check-all" type="checkbox" />

                                <label class=" custom-control-label" for="table-check-all">
                  </label>
                            </div>
                        </th>

                        <th>Author</th>

                        <th>Created at</th>

                        <th>Product</th>

                        <th>Active</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>
                            <div class=" custom-control custom-checkbox">
                                <input class=" custom-control-input" id="table-check-all" type="checkbox" />

                                <label class=" custom-control-label" for="table-check-all">
                  </label>
                            </div>
                        </th>

                        <td class=" table-user"><b> John Michael </b></td>

                        <td><span class=" text-muted"> 10/09/2018 </span></td>

                        <td>
                            <a class=" font-weight-bold" href="javascript:void(0)">
                  Argon Dashboard PRO
                </a>
                        </td>

                        <td>
                            <label class=" custom-toggle">
                  <input checked="checked" type="checkbox" />
  
                  <span
                    class=" custom-toggle-slider rounded-circle"
                    data-label-off="No"
                    data-label-on="Yes"
                  >
                  </span>
                </label>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <div class=" custom-control custom-checkbox">
                                <input class=" custom-control-input" id="table-check-all" type="checkbox" />

                                <label class=" custom-control-label" for="table-check-all">
                  </label>
                            </div>
                        </th>

                        <td class=" table-user"><b> Alex Smith </b></td>

                        <td><span class=" text-muted"> 08/09/2018 </span></td>

                        <td>
                            <a class=" font-weight-bold" href="javascript:void(0)">
                  Argon Design System
                </a>
                        </td>

                        <td>
                            <label class=" custom-toggle">
                  <input type="checkbox" />
  
                  <span
                    class=" custom-toggle-slider rounded-circle"
                    data-label-off="No"
                    data-label-on="Yes"
                  >
                  </span>
                </label>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <div class=" custom-control custom-checkbox">
                                <input class=" custom-control-input" id="table-check-all" type="checkbox" />

                                <label class=" custom-control-label" for="table-check-all">
                  </label>
                            </div>
                        </th>

                        <td class=" table-user"><b> Samantha Ivy </b></td>

                        <td><span class=" text-muted"> 30/08/2018 </span></td>

                        <td>
                            <a class=" font-weight-bold" href="javascript:void(0)">
                  Black Dashboard
                </a>
                        </td>

                        <td>
                            <label class=" custom-toggle">
                  <input type="checkbox" />
  
                  <span
                    class=" custom-toggle-slider rounded-circle"
                    data-label-off="No"
                    data-label-on="Yes"
                  >
                  </span>
                </label>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <div class=" custom-control custom-checkbox">
                                <input class=" custom-control-input" id="table-check-all" type="checkbox" />

                                <label class=" custom-control-label" for="table-check-all">
                  </label>
                            </div>
                        </th>

                        <td class=" table-user"><b> John Michael </b></td>

                        <td><span class=" text-muted"> 10/09/2018 </span></td>

                        <td>
                            <a class=" font-weight-bold" href="javascript:void(0)">
                  Argon Dashboard PRO
                </a>
                        </td>

                        <td>
                            <label class=" custom-toggle">
                  <input checked="checked" type="checkbox" />
  
                  <span
                    class=" custom-toggle-slider rounded-circle"
                    data-label-off="No"
                    data-label-on="Yes"
                  >
                  </span>
                </label>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <div class=" custom-control custom-checkbox">
                                <input class=" custom-control-input" id="table-check-all" type="checkbox" />

                                <label class=" custom-control-label" for="table-check-all">
                  </label>
                            </div>
                        </th>

                        <td class=" table-user"><b> John Michael </b></td>

                        <td><span class=" text-muted"> 10/09/2018 </span></td>

                        <td>
                            <a class=" font-weight-bold" href="javascript:void(0)">
                  Argon Dashboard PRO
                </a>
                        </td>

                        <td>
                            <label class=" custom-toggle">
                  <input checked="checked" type="checkbox" />
  
                  <span
                    class=" custom-toggle-slider rounded-circle"
                    data-label-off="No"
                    data-label-on="Yes"
                  >
                  </span>
                </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>