<div class=" header bg-danger pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4 styl">

                <div class=" text-right">
                    <a class=" btn btn-sm btn-neutral" href="javascript:void(0)"> Ajouter </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" container-fluid mt--6">
    <div class=" card">
        <div class=" card-header border-0">
            <div class=" row">
                <div class=" col-6">
                    <h3 class=" mb-0">Liste Catégories</h3>
                </div>

            </div>
        </div>
        <div class=" table-responsive">
            <table class=" table align-items-center table-flush table-hover">
                <thead class=" thead-light">
                    <tr>
                        <th>id</th>
                        <th>Nom </th>
                        <th>Description</th>
                        <th>date de création</th>
                        <th>date de modification</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of listCategory">
                        <td class=" table-user"> {{category.id}}</td>
                        <td class=" table-user"><a class=" font-weight-bold" href="javascript:void(0)"> {{category.nom}}</a></td>
                        <td>
                            <a class="description"> {{category.description}}</a>
                        </td>
                        <td><span class=" text-muted"> {{category.createdAt |date:'MM/dd/yyyy'}} </span></td>
                        <td><span class=" text-muted">{{category.updatedAt |date:'MM/dd/yyyy'}} </span></td>
                        <td>
                            <label class=" custom-toggle">
                                <input checked="checked" type="checkbox" />
                                <span class=" custom-toggle-slider rounded-circle" data-label-off="No"
                                    data-label-on="Yes">
                                </span>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>