<div class=" header bg-info pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4 styl">
                <div class=" text-right" (click)="openModal()">
                    <a class=" btn btn-sm btn-neutral" href="javascript:void(0)"> Ajouter </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" container-fluid mt--6">
    <div class=" card">
        <div class=" card-header border-0">
            <div class=" row">
                <div class=" col-6">
                    <h3 class=" mb-0">Liste Catégories</h3>
                </div>

            </div>
        </div>
        <div class=" table-responsive">
            <table class=" table align-items-center table-flush table-hover">
                <thead class=" thead-light">
                    <tr>
                        <th>id</th>
                        <th>Nom </th>
                        <th>Description</th>
                        <th>date de création</th>
                        <th>date de modification</th>
                        <th>Active</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of listCategory">
                        <td class=" table-user"> {{category.id}}</td>
                        <td class=" table-user"><a class=" font-weight-bold" href="javascript:void(0)"> {{category.nom}}</a></td>
                        <td>
                            <a class="description"> {{category.description}}</a>
                        </td>
                        <td><span class=" text-muted"> {{category.createdAt |date:'MM/dd/yyyy'}} </span></td>
                        <td><span class=" text-muted">{{category.updatedAt |date:'MM/dd/yyyy'}} </span></td>
                        <td>
                            <label class=" custom-toggle">
                                <input checked="checked" type="checkbox" />
                                <span class=" custom-toggle-slider rounded-circle" data-label-off="No"
                                    data-label-on="Yes">
                                </span>
                            </label>
                        </td>
                        <td class=" text-right">
                            <div class="dropdown no-caret" dropdown [dropup]="'true'">
                                <a aria-controls="dropdown-basic" class=" btn btn-sm btn-icon-only text-light dropdown-toggle" dropdownToggle href="javascript:void(0)" role="button">
                                    <i class=" fas fa-ellipsis-v"> </i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" *dropdownMenu>
                                    <a href="javascript:void(0)" class="dropdown-item">
                                 Editer Catégorie
                                </a>

                                    <a href="javascript:void(0)" class="dropdown-item">
                                  Supprimer Catégorie
                                </a>


                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" card-footer py-4">
            <nav aria-label="...">
                <pagination [totalItems]="2" class="justify-content-end mb-0" previousText="<i class='fas fa-angle-left'></i>" nextText="<i class='fas fa-angle-right'></i>">
                </pagination>
            </nav>
        </div>
    </div>
    <app-modal-category *ngIf="isModalCategory" [title]="title" [button]="button" [openModalCategory]="isModalCategory" (closeModalCategory)="closeCategory($event)"></app-modal-category>
</div>